<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Module Created By : Rohan Hapani
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="yopaymentsgw" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Yo! Payments Gateway</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_username" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Username</label>
                    <!--<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                </field>
                <field id="api_password" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Password</label>
                    <!-- obscure <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                </field>
                <field id="api_username_sandbox" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox API Username</label>
                    <!--<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                </field>
                <field id="api_password_sandbox" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox API Password</label>
                    <!--<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                </field>
                <field id="use_sandbox" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Sandbox</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_pay1" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Send Payment Request to Pay1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>  